.fmBook{
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fmBook .imgBook{
    width: 170px;
    height: 200px;
    margin-left: 0;
    margin-bottom: 10px;
}

.fmBook span{
    margin-bottom: 10px;
}

.fmBook .name{
    font-weight: bolder;
}

.fmBook .author{
    font-size: 12px;
}

.fmBook button{
    width: 100%;
}

.loan-btn{
    background-color: transparent;
    border: 1px solid #BF5449;
    color: #BF5449;
    padding: 5px;
    cursor: pointer;
}

.loan-btn:hover {
    background-color: #BF5449;
    color: #FFFFFF;
}