.booksBody{
    display: flex;
    flex-direction: column;
    margin-inline: 100px;
    gap: 30px;
}



.booksContainer{
    display: flex;
    flex-direction: column;
}

.categories{
    margin-bottom: 50px;
}

.Adventure{
    margin-block: 100px;
}

.books{
    display: flex;
    gap: 100px;
}