footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-inline: -100px;
}

.content{
    display: flex;
    width: 100vw;
    margin-inline: 30px;
}

.left_side{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.social_media{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.social_media img{
    width: 24px;
    height: 24px;
}